<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>


 
</div>
<div class="col-md-12">
  <div class="card card-container">
    <form
    name="search"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
<h1>Search Book</h1>
<div class="row">
<div class="col-md-4">
  <div class="form-group">
    <label for="category">Category</label>
    <input
      type="text"
      class="form-control"
      name="category"
      [(ngModel)]="search.category"
      minlength="3"
      maxlength="20"
      #username="ngModel"
    />
    <div class="alert-danger" *ngIf="username.errors && f.submitted">
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">
        Username must be at least 3 characters
      </div>
      <div *ngIf="username.errors.maxlength">
        Username must be at most 20 characters
      </div>
    </div>
  </div>
</div>
</div>
  </form>

    </div>
    </div>
    


