  <ul 
  *ngFor="let b of bookList">
  <li class="row justify-content-between align-items-center">
    <div>
      <h4><a  class="text-primary" (click)="catchContent(b.bookContent)" >{{b.bookTitle}}</a>-{{b.publisher}}</h4>
      <p>Category: {{b.category}}</p>
      <p>Publisher Date: {{b.createdDt | date:'dd-MM-yyy' }}</p>
      <p>Price: {{b.price}}/-Rs</p>
      <h6>Subscribers: {{b.subscriptionCount}}</h6>
      <input type="hidden" #subscriptionId value="{{b.subscriptionId}}"/>
      
    </div>
    
    <div>
    <button class="btn btn-danger"
    (click)="cancelSubscribe(subscriptionId.value)" 
    >{{buttonValue}}</button>
    </div>
    

  </li>

 </ul>
